extends templates/default.jade

block body
  #wrapper
    main.main.main--homepage

      .main-section
        .main-section-header
          h4.headerText Derek Duncan

        .main-section-body
          .quote
            p.quote-text "Reimagining web experiences."
            span.quote-description Self-quoted :)

      .main-section.main-section--gray
        .main-section-header
          h4.headerText My recent thoughts

        .main-section-body
          ul.postList
            li.postList-item
              a.postList-item-title(href='#') We Fail Because Our Users are LAZY.
            li.postList-item
              a.postList-item-title(href='#') The Only Way to Keep Up with the Web is to Give Up.
            li.postList-item
              a.postList-item-title(href='#') Life is Like a Kidney Bean.

      .main-section
        .main-section-header
          h4.headerText Let's connect

        .main-section-body
          p I've learned something about myself: the quality of my work and life skyrockets when the people around me have a positive vision for the future. If positivity is important to you, I would love to chat and connect!
